# Web Server & API
fastapi
uvicorn[standard]
python-multipart

# Computer Vision & AI Models
ultralytics
deepface
opencv-python


# Utility (Often required by DeepFace/OpenCV under the hood)
numpy
tf-keras
